* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    background-color: #4d0000;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.newBookButton {
    all: unset;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px white;
    border-radius: 5px;
}

.newBookButton:hover {
    background-color: #960606;
}

.footer {
    background-color: #4d0000;
    color: white;
    padding: 10px;
    margin-top: auto;
}